*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  width: 96rem;
  margin: 0px auto;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
}

:root{
  --div-background-color: #2ecc71;
  }

@media only screen and (max-width: 767px){
  body {
    width: 48rem;
    margin: 0 auto;
  }
}
